@font-face {
    font-family: "OpenSans";
    src: url('./assets/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "OpenSans";
    src: url('./assets/OpenSans-SemiBold.ttf');
    font-weight: 600;
}

body {
    margin: 0;
    background: black;
    font-family: OpenSans;
    min-width: 375px;
}